body {
}

.canvasDebugView {
    border-bottom: 5px dotted salmon;
}
.img-src-preload {
    visibility:collapse;
}
#miCanvas {
    padding:0px;
    margin:0px;
}
#dobleCnv{
    display:block;
    clear:both;
    width:1920px;
}

